<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>MYOLX</title>

  <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="/static/css/normalize.css">

    <link rel="stylesheet" href="/static/css/style1.css">
</head>

<body background="/static/img/b.jpeg">

  <div class="form">

      <ul class="tab-group">
        <li class="tab active"><a href="#signup">Sign Up</a></li>
        <li class="tab"><a href="#login">Log In</a></li>
      </ul>

      <div class="tab-content">
        <div id="signup">   
          <h1>Sign Up for Free</h1>

          <form action="/" method="post">

          <div class="top-row">
          <!-- {{form.as_p}} -->
<!-- 
         <form action="/auth/" method="post">

            <div class="field-wrap">
            <label for="username"> User Name </label>
            <input type="text" name="username" value ="" id="username">
            </div>

            <div class="field-wrap">
            <label for="password">Password</label>
            <input type="password" name="password" value="" id="password">
            </div>
            
            <input type="submit" value="login" />

          </form>
 -->
         <!--  <form action="/register/" method="post">
<p><label for="username">Name</label>
    <input id="username" type="text" name="username" maxlength="100" /></p>
<p><label for="id_message">Message:</label>
    <input type="text" name="message" id="id_message" /></p>
<p><label for="id_sender">Sender:</label>
    <input type="text" name="sender" id="id_sender" /></p>
<p><label for="id_cc_myself">Cc myself:</label>
    <input type="checkbox" name="cc_myself" id="id_cc_myself" /></p>
<input type="submit" value="Submit" />
</form>
 -->
            <!-- <div class="field-wrap">
              <label>
                First Name<span class="req">*</span>
              </label>
              <input type="text" required autocomplete="off" />
            </div>

            <div class="field-wrap">
              <label>
                Last Name<span class="req">*</span>
              </label>
              <input type="text"required autocomplete="off"/>
            </div> -->
          </div>

          <div class="field-wrap">
            <label>
              Name <span class="req">*</span>
            </label>
            <input type="name"required autocomplete="off"/>
          </div>

          <!-- <div class="field-wrap">
            <label>
              Email Address<span class="req">*</span>
            </label>
            <input type="email"required autocomplete="off"/>
          </div>
 -->
          <div class="field-wrap">
            <label>
              Set A Password<span class="req">*</span>
            </label>
            <input type="password"required autocomplete="off"/>
          </div>

          <div class="field-wrap">
            <label>
              Set A Password<span class="req">*</span>
            </label>
            <input type="password"required autocomplete="off"/>
          </div>
          <button type="submit" class="button button-block"/>Get Started</button>

          </form>

        </div>

        <div id="login">   
          <h1>Welcome Back!</h1>

          <!-- <form action="/auth/" method="post">
{% csrf_token %}
<label for="username"> User Name </label>
<input type="text" name="username" value ="" id="username">
<label for="password">Password</label>
<input type="password" name="password" value="" id="password">
<input type="submit" value="login" />
<br/>
<a href="/"> Home </a>
<br/>
</form> -->

          <form action="/auth/" method="post">

            <div class="field-wrap">
            <label for="username"> User Name </label>
            <input type="text" name="username" value ="" id="username">
            </div>

            <div class="field-wrap">
            <label for="password">Password</label>
            <input type="password" name="password" value="" id="password">
            </div>
            
            <input type="submit" value="login" />

          </form>

        </div>

      </div><!-- tab-content -->

</div> <!-- /form -->

  <script src='http://codepen.io/assets/libs/fullpage/jquery.js'></script>

  <script src="/static/js/index.js"></script>

</body>

</html>