Hello world
<br/>
<a href = "/register/" > Register here </a>
<br/>
<a href = "/login/" > Login here </a>
<br/>
<br/>
<br/>
<a href="/"> Home </a>
<br/>

<!-- <form method="POST">
{% csrf_token %}
<p> Name: <input type="text" name="username"  id="" value="{{ username }}"> </p>
<p> Email: <input type="text" name="email"  id="" value="{{ email }}">
</p>
<p> Phone: <input type="text" name="phone"  id="" value="{{ phone }}">
</p>
<p> Password: <input type="text" name="password"  id="" value="{{ password }}">
</p>
<p> Confirm Password: <input type="text" name="confirmpassword"  id="" value="{{ confirmpassword }}">
</p>
<p> <input type="submit" value="Submit">
</p>


</form> -->