{% extends 'index.html' %}
{% block content %}
hello main page
<br/><br/>
User please select what do you want to do?
<br/><br/><a href="/seek/"> Seek </a>
<br/><br/> <a href="/upload/"> Upload only image (Upload) </a>
<br/><br/>
<a href = "/item/" > Upload form without image (Item form) </a>
<br/><br/>
<a href = "/item_upload/" > Upload form with image (Item upload (with image))</a>
<br/><br/>
<a href = "/profile/" > Add your details(Add profile here) </a>
<br/><br/>
click to <a href="/logout/"> logout </a>
<br/><br/>
<!-- {% load staticfiles %}

<img src="{% static "img/b.jpg" %}" alt="image here">
 -->{% endblock %}